<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekday Warrior</title>
</head>
<body>
  <h1>Hey, it's <%= dayType %></h1>
  <h2><%=   advice %>!</h2>
  <%- include("thanks.ejs") %>
  <ul>
    <% for(let i=0; i<totalDays.length; i++){ %>
      <li>
        <%= totalDays[i] %>
      </li>
    <% } %>  
  </ul>
</body>
</html>